# Database Configuration (for Docker Compose)
POSTGRES_USER=multibus_user
POSTGRES_PASSWORD=your_secure_password_here
POSTGRES_DB=multibus_db
DB_PORT=5432
DB_HOST=localhost

# Application Configuration
PORT=3000
NODE_ENV=development

# Google Maps API Key
# Get this from: https://console.cloud.google.com/google/maps-apis
#A chave não está mais ativa :)
GOOGLE_API_KEY=COLE-AQUI

